@model IEnumerable<FinanceAssistantWebApp.Models.Bill>

@{
    ViewBag.Title = "Finance Assistant";
}

<div class="row">

    <div class="col-md-7">
        <h2>My Bills</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BillTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paid)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paid)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BillId }) |
                        <a href= @item.PayLink>Pay</a> |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BillId })
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="col-md-5">
        <h2>Bill Breakdown</h2>
        <br />
        <table class="table">
            <tr>
                <th>Bill Total</th>
                <th>Weekly Total</th>
                <th>Daily Total</th>
            </tr>

            <tr>
                <td>@ViewBag.TotalAmount</td>
                <td>@ViewBag.TotalWeekly</td>
                <td>@ViewBag.TotalDaily</td>
            </tr>
        </table>
    </div>

</div>

